<div class="poke-card group">
    <div class="poke-card__content">
        <h2 class="poke-card__content-title">
            {{ data.name }}
        </h2>
    </div>
    
    <div *ngIf="showButton !== true" class="absolute inset-0 flex justify-end m-3 gap-2" (click)="navigateToPokemonDetails(data!.slug)">
        <div class="bg-[#2F3640] w-11 h-11 rounded-full flex justify-center items-center cursor-pointer gap-2 hover:bg-[#909090]">
            <img src="../../../assets/shake_ball.gif" alt="detail" class="w-8 h-8 object-contain" />
        </div>
    </div>

    <div class="relative w-full h-50 my-3 flex justify-center">
        <img
            [src]="data.ThumbnailImage"
            alt="{{ data.ThumbnailAltText }}"
            [width]="imgDimension"
            [height]="imgDimension"
            class="object-contain"
        >
    </div>

    <div class="relative flex justify-center flex-wrap w-full mt-2">
        <div *ngFor="let pokemon_type of data?.type">
            <img [src]="getPokemonType(pokemon_type)" alt="{{ pokemon_type }}" [width]="typeImgDimensions" [height]="typeImgDimensions">
        </div>
    </div>

    <div *ngIf="showButton" class="flex justify-center items-center py-2 px-2 w-full mt-8 gap-2 rounded-lg bg-red-800 active:bg-red-900 cursor-pointer" (click)="openModal(data.name)">
        <img src="../../../assets/shake_ball.gif" alt="detail" class="w-6 h-6 object-contain" />
        <p class="font-semibold text-base text-white">Show</p>
    </div>
</div>