<div class="flex flex-col gap-2">
    <div class="flex sm:flex-row flex-col justify-center items-center gap-2">
        <p class="text-base text-white">Filter by type: </p>

        <button
            id="dropdownDividerButton"
            data-dropdown-toggle="dropdownDivider"
            [class]="className"
            type="button"
            (click)="toggle()"
        >
            {{ selectedItem }}
            <svg class="w-2.5 h-2.5 ms-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 10 6"><path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 1 4 4 4-4"/></svg>
        </button>
    </div>

    <div class="relative">
        <div *ngIf="open" id="dropdownDivider" class="absolute top-0 right-0 z-10 bg-white divide-y divide-gray-100 rounded-lg shadow w-44 dark:bg-gray-700 dark:divide-gray-600">
            <!-- <div class="py-2">
                <a href="#" class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100 dark:hover:bg-gray-600 dark:text-gray-200 dark:hover:text-white">All</a>
            </div> -->
            <ul class="py-2 text-sm text-gray-700 dark:text-gray-200 max-h-[200px] overflow-auto custom-scrollbar" aria-labelledby="dropdownDividerButton">
                <li class="border-b border-b-gray-500 cursor-pointer" (click)="getType('all types')">
                    <p class="block capitalize px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">All Types</p>
                </li>
                <li *ngFor="let type of types" class="cursor-pointer" (click)="getType(type.name)">
                    <p class="block capitalize px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">{{type.name}}</p>
                </li>
            </ul>
        </div>
    </div>
</div>
  
    