<div class="flex flex-row w-full">
    <a
        [routerLink]="['/']"
        type="button"
        class=" flex justify-center items-center gap-2 py-2 px-2 bg-black text-white rounded-lg text-sm font-semibold border border-gray-500 shadow-sm shadow-gray-500 hover:shadow-md hover:shadow-gray-400 transition-shadow"
    >
        <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" viewBox="0 0 24 24"><path fill="#ffffff" d="m10 18l-6-6l6-6l1.4 1.45L7.85 11H20v2H7.85l3.55 3.55z"/></svg>
        Back to Home
    </a>
</div>