@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&family=Palanquin:wght@100;200;300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Palanquin:wght@100;200;300;400;500;600;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    font-family: Montserrat, Palanquin, "Helvetica Neue", sans-serif;
}

body {
  background-color: #000;
}

body {
    --sb-track-color: #232E33;
    --sb-thumb-color: #6b7280;
    --sb-size: 10px;
}
  
body::-webkit-scrollbar {
    width: var(--sb-size)
}

body::-webkit-scrollbar-track {
    background: var(--sb-track-color);
    border-radius: 10px;
}

body::-webkit-scrollbar-thumb {
    background: var(--sb-thumb-color);
    border-radius: 10px;
}

@supports not selector(::-webkit-scrollbar) {
    body {
        scrollbar-color: var(--sb-thumb-color) var(--sb-track-color);
    }
}

/* CUSTOM SCROLLBAR */
.custom-scrollbar {
    --sb-track-color: #232E33;
    --sb-thumb-color: #6b7280;
    --sb-size: 7px;
}
  
.custom-scrollbar::-webkit-scrollbar {
    width: var(--sb-size)
}

.custom-scrollbar::-webkit-scrollbar-track {
    background: var(--sb-track-color);
    border-radius: 3px;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
    background: var(--sb-thumb-color);
    border-radius: 3px;
}

@supports not selector(::-webkit-scrollbar) {
    .custom-scrollbar {
        scrollbar-color: var(--sb-thumb-color) var(--sb-track-color);
    }
}

.red-gradient {
  background: linear-gradient(92deg, #ff5956 2.87%, #ee1e38 96.18%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.black-gradient {
    background: #000000; /* fallback for old browsers */
    background: -webkit-linear-gradient(
        to right,
        #434343,
        #000000
    ); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(
        to right,
        #434343,
        #000000
    ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

:root {
  color-scheme: dark;
}

@layer utilities {
    .btn {
        @apply absolute min-[450px]:top-0 min-[450px]:right-0 -top-12 py-2 px-2 flex justify-center items-center gap-2 bg-red-800 hover:bg-opacity-70 rounded-lg text-white text-lg font-semibold;
    }

    .sub_btn {
        @apply py-2 px-2 flex justify-center items-center gap-2 bg-red-800 hover:bg-opacity-70 rounded-lg text-white text-lg font-semibold;
    }

    .section-text {
      @apply text-white text-[28px] font-bold;
    }

    /* START: Pokemon Card styles */
    .poke-card {
        @apply relative flex flex-col p-6 justify-center items-start text-white bg-slate-900 hover:bg-slate-800 hover:shadow-lg hover:shadow-gray-600 rounded-3xl transition-all;
    }

    .poke-card__content {
        @apply w-full flex justify-between items-start gap-2;
    }

    .poke-card__content-title {
        @apply text-[22px] leading-[26px] font-bold capitalize;
    }

    .poke-card__image {
        @apply relative w-full h-40 my-3 object-contain;
    }

    .poke-card__icon-container {
        @apply flex group-hover:invisible w-full justify-between text-gray-50;
    }

    .poke-card__icon {
        @apply flex flex-col justify-center items-center gap-2;
    }

    .poke-card__icon-text {
        @apply text-[14px] leading-[17px];
    }

    .poke-card__btn-container {
        @apply hidden group-hover:flex absolute bottom-0 w-full z-10;
    }
    /* END: Pokemon Card styles */


    /* START: Pokemon Detail style */
    .pokedetail-container {
        @apply flex flex-col gap-16 flex-wrap px-6 md:px-20 py-6 my-auto;
    }

    .pokemon-image {
        @apply flex /*flex-grow*/ xl:max-w-[50%] max-w-full py-16 border border-[#CDDBFF] rounded-[17px];
    }

    .pokemon-info_card {
        @apply flex-1 min-w-[200px] flex flex-col gap-2 border-l-[3px] rounded-lg bg-slate-700 px-5 py-4;
    }
    /* END: Pokemon Detail style */

    /* SEARCHBAR INPUT */
    .searchbar-input {
        @apply flex-1 bg-slate-800 min-w-[200px] w-full p-3 border border-gray-500 rounded-lg shadow-sm text-base text-gray-200 focus:outline-none;
    }

    .searchbar-btn {
        @apply  bg-gray-500 border border-gray-900 rounded-lg shadow-sm px-5 py-3 text-white text-base font-semibold hover:opacity-90 disabled:pointer-events-none disabled:cursor-not-allowed disabled:opacity-40;
    }
    
    .footer__copyrights-link {
        @apply flex-1 flex sm:justify-end justify-center max-sm:mt-4 gap-10 flex-wrap;
    }
}